.box {
    height: 200px;
  }
  
  #noir {
    background: #222;
    border: 15px solid #000;
  }
  
  #vert {
    background: #292;
    border: 15px solid #070;
  }
  
  #rouge {
    background: #922;
    border: 15px solid #700;
  }
  
  #bleu {
    background: #229;
    border: 15px solid #007;
  }
  